$rem = 32rem

// 颜色定义规范
$color-background = #fff
$color-background-d = rgba(255, 255, 255, 0.5)
$color-highlight-background = rgba(255,255,255,1)
$color-list-background = #f3f3f3
$color-dialog-background = #666
$color-theme = #da2c2a;
$color-theme-d = #dc2a2a
$color-sub-theme = #d93f30
$color-text = #000;
$color-text-d = #666666;
$color-text-l = #f3f3f3
$color-text-ll = rgb(102,102,102)
$color-icon = rgb(254,254,254)
$color-icon-d = rgb(133,129,128)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
